.about {
    background-color: black;
}
.caption {
    font-size: 16px;
    padding-top: 10px

}
.marcelloImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  
}
.pathsImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  
}
.astronautImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  
}
.marcelloText {
    margin-top: 15px
}
.name {
    font-size: 25px;
    margin-bottom: 5px;
}
.bioText p {
    padding-top: 20px
}


@media only screen and (min-width: 768px) {
    .name {
        font-size: 30px;
        margin-bottom: 20px;
        margin-top: 0px
    }
    .text .caption p {
        font-size: 20px;
        padding-top: 15px
    
    }

  }