.contactInfo  {
    font-family: TenaliRamakrishna-Regular;
    color: #8860D0;  
    font-size: 30px;
    margin-bottom: 10px;
  
}
.contactInfo a {
    padding-left: 15px;
    color: white
}

.first {
    padding-top: 15px
}
.icons {
    color:  #8860D0;
    padding-right: 35px
    
}
@media only screen and (min-width: 768px) {
    .first {
        padding-top: 0px
    } 
    .icons {
        padding-right: 5px
    }
    .contactInfo {
        font-size: 25px;
        text-align: center
    }
}

