
@font-face { font-family: TenaliRamakrishna-Regular; 
    src: url('../media/font.ttf'); } 

.nav {
    font-family: TenaliRamakrishna-Regular;
    font-size: 16px;
    padding: 0px
}

@media only screen and (min-width: 768px) {
    .nav{
        font-size: 22px;
       
    }
  }