@font-face { font-family: TenaliRamakrishna-Regular; 
    src: url('./media/font.ttf'); } 

h1 {
    font-family: TenaliRamakrishna-Regular;
    text-align: center;
    color: white;
}
 p {
    font-family: TenaliRamakrishna-Regular;
    color: white;
    font-size: 20px;
    text-align: center;
 }
/* .all {
    background-image: url('./media/background.jpg');
    background-size: cover;
} */
.video {

    background-color: #5AB9EA;
    opacity: .8;
    padding-bottom: 25px;
    padding-top: 25px
   
}

.contact {
    background-color: #C1C8E4;
    opacity: .8;
    padding-top: 20px
}

.divider {
    padding-top: 15px;
    padding-bottom: 10px;
}

@media only screen and (min-width: 768px) {
    h1{
        font-size: 40px;
       
    }
  }