@font-face { font-family: TenaliRamakrishna-Regular; 
    src: url('./media/font.ttf'); } 
.listMobile {
    font-family: TenaliRamakrishna-Regular;
    margin-left: 25px;
    padding-bottom: 25px;
    margin-right: 25px;
    color: #8860D0
}

.listDesktop {
    color: #8860D0;
    margin-left: 40px;
    margin-right: 40px;
    padding-bottom: 35px;
    text-align: center;
}


.text {
        background: rgba(0, 0, 0, 0.75);
        border-radius: 50px;
        padding-top: 20px;
        padding-right: 3px;
        padding-left: 3px;
        color: white;
        margin-right: 10px;
        margin-left: 10px;
        padding-bottom: 10px
      }

h1 {
    font-family: TenaliRamakrishna-Regular;
    text-align: center;
    color: white;
}
h3 {
    font-family: TenaliRamakrishna-Regular;
    text-align: center;
    color: white;
    margin-bottom: 5px;
}
 p {
    font-family: TenaliRamakrishna-Regular;
    color: white;
    font-size: 21px;
    text-align: center;
 }

hr { 
    border : 0;
    height: 2px; 
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0)); 
    margin-bottom: 20px;
    margin-top: -10px
  }
.video {
    background-color: #84CEEB;
    opacity: .8;
    padding-bottom: 25px;
    padding-top: 25px
   
}
.about {
    background-color: #C1C8E4;
    opacity: .8;
    padding-top: 20px
}

.contact {
    background-color: #5AB9EA;
    opacity: .8;
    padding-top: 20px
}

.divider {
    padding-top: 15px;
    padding-bottom: 10px;
}



@media only screen and (min-width: 768px) {
    h1 {
        font-size: 40pt
    }
    .borders {
        margin-right: 100px;
        margin-left: 100px;
        margin-top: 50px
    }
    .bordersBelow {
        margin-right: 70px;
        margin-left: 70px
    }
    .text {
        padding-right: 25px;
        padding-left: 25px;
        margin-bottom: 30px
      }
      .text p {
        font-size: 22pt
      }
      .text h1 {
        font-size: 30pt
      }
      .text h3 {
        font-size: 25pt
      }
      .space {
          padding-bottom: 1px
      }
  }